:root {
  --artistic-font: "Explora", cursive;
  --body-color: rgb(241, 241, 241);
  --header-font: "Prata", serif;
  --hover-link-color: #8277ac;
  --main-font: "Playfair Display", serif;
  --primary-color: rgb(224, 224, 224);
  --secondary-color: #272044;
}
body {
  background-color: var(--body-color);
  font-family: var(--main-font);
  margin: 0 auto;
  max-width: 1200px;
}
.grid {
  padding: 30px 30px 0;
  display: grid;
  grid-gap: 10px;
  margin: 40px 0;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
  grid-gap: 70px;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-four-columns {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-3-columns-footer {
  grid-template-columns: 2fr 2fr 2fr;
}
