:root {
  --artistic-font: "Explora", cursive;
  --body-color: rgb(241, 241, 241);
  --header-font: "Prata", serif;
  --hover-link-color: #8277ac;
  --main-font: "Playfair Display", serif;
  --primary-color: rgb(224, 224, 224);
  --secondary-color: #272044;
}
Footer {
  background-color: #f3a4eb90;
  color: var(--secondary-color);
  margin: 0 auto;
  max-width: 1200px;
}
Footer a {
  color: var(--secondary-color);
  font-size: 13px;
  text-decoration: none;
}
Footer a:hover {
  color: var(--hover-link-color);
}
Footer i {
  font-size: 18px;
}
Footer h4 {
  font-size: 20px;
}
Footer p {
  font-size: 13px;
  margin: 0;
  padding: 10px;
  text-align: justify;
}
