header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.forecast .day {
  text-transform: uppercase;
}
.forecast .day,
.time {
  font-size: 20px;
}
.forecast ul {
  list-style: none;
  display: inline;
}
.forecast .currentTemp {
  font-size: 25px;
}
